h5,
	h4 {
		color: white;
	}


	footer {
        color: white;
        margin-top: 50px;
        padding: 20px;
        background-color: #1A1A1A;
        a {
            color: white;
            &:hover {
                cursor: pointer;
                color: #FF6900;
            }
        }
		.privacy a {
		  font-size: 10px;
		}
		.social ul li{
		  list-style: none;
		}
	}
