* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
    text-decoration: none;

}

body {
    font-family: 'Roboto', sans-serif;
  }

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  height: 100%;
}

img {
	width: 100%;
}

ul {
	list-style: none;
	li {
		margin-right: 10px;
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
