main {
    .hide {
        display: none;
    }
    .container {
        padding-top: 100px;
        flex-wrap: wrap;

        .item {
            color: black;
            margin: 20px auto;
            width: 390px;
            display: inline-block;
            overflow: hidden;
            .photo-item {
                flex-basis: 30%;
                position: relative;
                cursor: pointer;
                &:hover .alternative{
                    top: 0;
                    left: 0;
                    display: block;
                }
                .alternative{
                    position: absolute;
                }
            }
            .discount {
                font-size: 10px;
                padding: 5px 10px;
                position: absolute;
                bottom: 85px;
                left: 0;
                background-color: red;
                color: white;
            }
            .heart {
                color: black;
                font-size: 35px;
                padding: 5px 15px;
                position: absolute;
                right: 0;
                top: 20px;
                background-color: white;
                &:hover {
                    color: red;
                }
            }

            .eco {
                font-size: 10px;
                padding: 5px 10px;
                position: absolute;
                bottom: 85px;
                left: 50px;
                background-color: green;
                color: white;
            }
            .item-info {

                color: black;
            }
            .brand {
                display: block;
                font-size: 12px;
            }

            .item-name {
                display: block;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .c-price {
                color: red;
                font-size: 14px;
                font-weight: 700;
            }

            .o-price {
                margin-left: 10px;
                text-decoration: line-through;
                font-size: 14px;
                font-weight: 700;
                color: black
            }
            .no-discount {
                bottom: 85px;
                left: 0;
            }
        }
    }
}
